.body{
    margin: 20px;
}
.counter{
    color: white;
    font-size: 18px;
}
.selected{
    font-size: 20px;
}
.users{
    padding: 10px;
}
.username{
    text-decoration: none;
    color: #e0e0e0;
    font-size: 20px;
}